#Autosave files
*~

#build
[Oo]bj/
[Bb]in/
packages/
TestResults/

# globs
Makefile.in
*.DS_Store
*.sln.cache
*.suo
*.cache
*.pidb
*.userprefs
*.usertasks
config.log
config.make
config.status
aclocal.m4
install-sh
autom4te.cache/
*.user
*.tar.gz
tarballs/
test-results/
Thumbs.db

#Mac bundle stuff
*.dmg
*.app

#resharper
*_Resharper.*
*.Resharper

#dotCover
*.dotCover
src/iOS/lib/libArcGIS1-arm.a
src/iOS/lib/libArcGIS1-sim.a
src/iOS/lib/libArcGIS2-arm.a
src/iOS/lib/libArcGIS2-sim.a
src/iOS/lib/libArcGIS3-arm.a
src/iOS/lib/libArcGIS3-sim.a
src/iOS/lib/libArcGIS4-arm.a
src/iOS/lib/libArcGIS4-sim.a
src/iOS/lib/libArcGIS5-arm.a
src/iOS/lib/libArcGIS5-sim.a
*.Resource.designer.cs

#nugets
*.nupkg

*.idea